* {
    margin: 0;
}

.app {
    display: flex;
    flex-flow: column;
    background-color: white;
    height: auto;
}

.navbar {
    background-color: #e6e600;
    z-index: 3;
    position: fixed;
    width: 100vw;
    padding: 5px;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    display: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 2.5vh;
    margin: 10px;
    font-weight: bold;
}

.navbar li {
    padding: 5px;
    transition: .6s;
}

.navbar li:hover {
    background-color: red;
    border-radius: 3px;
    align-items: stretch;
}

.navbar a:visited {
    color: inherit;
}

.nav-ul ul {
    margin: 0 25px;
    list-style: none;
    display: flex;
}

.routes-container {
    padding-top: 6vh;
}

.landing {
    display: flex;
    flex-flow: column;
}

.view-tab1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.background {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-image: url('../public/snowboard-imgs/background.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .5;

}

.landing button {
    z-index: 2;
    position: absolute;
    padding: 5px;
    color: black;
    background-color: white;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    opacity: .6;
    border-radius: 10px;
    transition: .6s;
}

.landing button:hover {
    cursor: pointer;
    background-color: #e6e600;
    color: white;
    opacity: 1;
}

.view-tab2 {
    background-color: white;
    display: flex;
    width: 100vw;
}

.cont {
    width: 50vw;
    height: 50vw;
}

.cont-p {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.cont-p p {
    margin: 10px 20px;
    font-size: 2.1vw;
    text-align: center;
}

.cont-p h2 {
    font-size: 2.6vw;
    padding: 5px;
}

.cont-img {
    background-image: url('../public/snowboard-imgs/snowboarder.png');
    background-size: cover;
    background-position: right;
    opacity: .6;
}

.cont-img2 {
    background-image: url('../public/snowboard-imgs/snowboarder2.png');
    background-size: cover;
    background-position: right;
    opacity: .6;
}

.view-tab3 {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
}

.brands {
    display: flex;
}

.brand {
    width: 33.3vw;
    height: 33.3vw;
    transition: .6s;
    opacity: .6;
}

.brand:hover {
    opacity: 1;
    cursor: pointer;
}

.brand-capita {
    background-image: url('../public/snowboard-imgs/capitaLogo.png');
    background-size: cover;
    background-position: right;
}

.brand-bataleon{
    background-image: url('../public/snowboard-imgs/bataleonLogo.png');
    background-size: cover;
    background-position: right;
}

.brand-burton {
    background-image: url('../public/snowboard-imgs/burtonLogo.png');
    background-size: cover;
    background-position: right;
}

.shop-page {
    display: flex;
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    height: auto;
}

.sidebar {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 25vh;
    min-height: 100vh;
    margin: 10px;
}

.sidebar h3 {
    margin: 10px 0 0 0;
}

.sidebar-btns {
    display: flex;
    flex-flow: column;
}

.sb-btn {
    border-style: none;
    background-color: white;
    padding: 3px 20px;
}

.sb-btn:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.size-btns {
    display: grid;
    grid-template-areas: 
    "a b c";
}

.size-btn {
   border-style: none; 
   margin: 3px;
   border: solid gainsboro 1px;
   background-color: white;
}

.size-btn:hover {
    background-color: gainsboro;
    cursor: pointer;
}


.shop-body {
    width: 80vw;
    min-height: 100vh;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-areas: 
    "a b c";
}

.snowboard-card {
    display: flex;
    flex-flow: column;
    margin: 10px;
    width: 24vw;
    height: 36vw;
}

.snowboard-img {
    height: 100%;
    background-size: cover;
    background-position: center;
}

.snowboard-img:hover {
    cursor: pointer; 
}

.card-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.snowboard-card h3, .snowboard-card p {
    font-size: 14px;
}

@media only screen 
and (min-device-width: 300px)
and (max-device-width: 844px) {
    .app {
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar a {
        font-size: 28px;
    }

    .nav-icon {
        display: inline;
        position: absolute;
        right: 20px;
        font-size: 35px;
        transition: .5s;
    }

    .nav-icon:active{
        font-size: 40px;
    }

    .open {
        background-color: red;
    }

    .navbar ul {
        display: none;
    }

}
