* {
    margin: 0;
}

.app {
    display: flex;
    flex-flow: column;
    background-color: white;
    height: auto;
}

.navbar {
    background-color: #e6e600;
    z-index: 3;
    position: fixed;
    width: 100vw;
    padding: 5px;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 2.5vh;
    margin: 10px;
    font-weight: bold;
}

.navbar li {
    padding: 5px;
    transition: .6s;
}

.navbar li:hover {
    background-color: red;
    border-radius: 3px;
    align-items: stretch;
}

.navbar a:visited {
    color: inherit;
}

.nav-ul ul {
    margin: 0 25px;
    list-style: none;
    display: flex;
}

.routes-container {
    padding-top: 6vh;
}

.landing {
    display: flex;
    flex-flow: column;
}

.view-tab1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-image: url('../public/snowboard-imgs/background.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .5;

}

.landing button {
    z-index: 2;
    position: absolute;
    padding: 5px;
    color: black;
    background-color: white;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    opacity: .6;
    border-radius: 10px;
    transition: .6s;
}

.landing button:hover {
    cursor: pointer;
    background-color: #e6e600;
    color: white;
    opacity: 1;
}

.view-tab2 {
    background-color: white;
    display: flex;
    width: 100vw;
}

.cont {
    width: 50vw;
    height: 50vw;
}

.cont-p {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.cont-p p {
    margin: 10px 20px;
    font-size: 2.1vw;
    text-align: center;
}

.cont-p h2 {
    font-size: 2.6vw;
    padding: 5px;
}

.cont-img {
    background-image: url('../public/snowboard-imgs/snowboarder.png');
    background-size: cover;
    background-position: right;
    opacity: .6;
}

.cont-img2 {
    background-image: url('../public/snowboard-imgs/snowboarder2.png');
    background-size: cover;
    background-position: right;
    opacity: .6;
}

.view-tab3 {
    width: 100vw;
}

.brands {
    display: flex;
}

.brand {
    width: 33.3vw;
    height: 33.3vw;
    transition: .6s;
    opacity: .6;
}

.brand:hover {
    opacity: 1;
    cursor: pointer;
}

.capita {
    background-image: url('../public/snowboard-imgs/capitaLogo.png');
    background-size: cover;
    background-position: right;
}

.bataleon{
    background-image: url('../public/snowboard-imgs/bataleonLogo.png');
    background-size: cover;
    background-position: right;
}

.burton {
    background-image: url('../public/snowboard-imgs/burtonLogo.png');
    background-size: cover;
    background-position: right;
}

.shop-page {
    background-color: white;
    width: 100vw;
    height: 100vh;
}

@media only screen 
and (min-device-width: 320px)
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) 
and (orientation: portrait) {
    .app {
    }

    .navbar a {
        font-size: 28px;
    }

    .navbar ul {
        display: none;
    }

}
